@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer

@section Headers{
    <link href="~/css/about.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
   
    <div class="about-page">
        <section class="header">
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <h1>
                        @ViewLocalizer["about1"] <span class="primary-color">@ViewLocalizer["about2"]</span>
                        @ViewLocalizer["about3"]
                    </h1>
                </div>
            </div>
        </section>

        <section>
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="title">@ViewLocalizer["about4"]</div>
                    <div class="desc">
                        @ViewLocalizer["about5"]
                        
                    </div>
                </div>
            </div>
        </section>

        <section>
            <img src="./EgoImages/about/banner.png" alt="" />
        </section>

        <section>
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="title">@ViewLocalizer["about6"]</div>
                    <div class="desc">
                        @ViewLocalizer["about7"]
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row max-width">
                <div class="col-4"></div>
                <div class="col-8">
                    <div class="box">
                        <div class="number">01</div>
                        <div class="name">@ViewLocalizer["about8"]</div>
                        <div class="desc-box">
                            @ViewLocalizer["about9"]
                            
                        </div>
                    </div>

                    <div class="box">
                        <div class="number">02</div>
                        <div class="name">@ViewLocalizer["about10"]</div>
                        <div class="desc-box">
                            @ViewLocalizer["about11"]
                        </div>
                    </div>

                    <div class="box">
                        <div class="number">03</div>
                        <div class="name">@ViewLocalizer["about12"]</div>
                        <div class="desc-box">
                            @ViewLocalizer["about13"]
                           
                        </div>
                    </div>

                    <div class="box">
                        <div class="number">04</div>
                        <div class="name">@ViewLocalizer["about14"]</div>
                        <div class="desc-box">
                            @ViewLocalizer["about15"]
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="row max-width">
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="title">@ViewLocalizer["about16"]</div>
                    <div class="desc">
                        @ViewLocalizer["about17"]
                        <br />
                        <br />
                        @ViewLocalizer["about18"]
                    </div>
                </div>
            </div>
        </section>
    </div>