@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer


@section Headers{
    <link href="~/css/solution-3.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
<div class="solution-2">
    <section class="section-banner">
        <div class="max-width h-100">
            <div class="row h-100">
                <div class="col-lg-6 col-12">
                    <p class="font-64">
                        Giải pháp tối ưu các nền tảng truyền thông sở hữu
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-effective py-5 my-5 max-width">
        <div class="row my-5">
            <div class="col-lg-7 col-12">
                <p class="font-32 fw-bolder mb-5">
                    4 loại tài sản số quan trọng của doanh nghiệp khi đầu tư vào kênh
                    truyền thông sở hữu
                </p>
                <div>
                    <p>01. Mức độ nhận diện</p>
                    <p>02. Nội dung & hình ảnh</p>
                    <p>03. Tệp khách hàng</p>
                    <p>04. Dữ liệu khách hàng</p>
                </div>
            </div>
            <div class="col-lg-5 col-12"></div>
            <div class="col-lg-6 col-12"></div>
            <div class="col-lg-6 col-12 mt-5">
                Là một doanh nghiệp trẻ, chúng tôi hiểu được tầm quan trọng của
                marketing trong hoạt động kinh doanh của doanh nghiệp. Tuy nhiên để
                vận hành một phòng marketing với đầy đủ chức năng đòi hỏi một chi
                phí tốn kém, chưa kể đến những khó khăn trong việc tuyển dụng và
                quản trị nhân sự, hiệu suất công việc không đảm bảo.
            </div>
        </div>
    </section>

    <section class="section-suitable bg-white black-color py-5 relative">
        <div class="decor">
            <img class="fb absolute" src="./EgoImages/solution-3/facebook.png" />
            <img class="insta absolute"
                 src="./EgoImages/solution-3/instagram.png" />
            <img class="tiktok absolute"
                 src="./EgoImages/solution-3/titkok.png" />
            <img class="be absolute" src="./EgoImages/solution-3/be.png" />
            <img class="linkin absolute"
                 src="./EgoImages/solution-3/linkin.png" />
        </div>
        <div class="max-width py-5">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <p class="font-64 fw-semibold primary-color">
                        Giải pháp này chắc chắn phù hợp với doanh nghiệp nếu:
                    </p>
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                    <div class="">
                        <p class="mb-4">
                            Doanh nghiệp có mục tiêu xây dựng nhiều kênh truyền thông sở
                            hữu nhưng chưa biết nên tập trung vào phát triển kênh nào ?
                            Kênh nào tiềm năng tạo ra chuyên đổi doanh thu?
                        </p>
                        <p class="mb-4">
                            Doanh nghiệp đang phụ thuộc vào thuật toán nền tảng. Không tạo
                            ra chuyển đổi dù chi phí đầu tư - chi phí duy trì cao
                        </p>
                        <p class="mb-4">
                            Các kênh sở hữu hiện tại thiếu đồng bộ - rời rạc - giảm hiệu
                            quả chuyên đổi tổng thể
                        </p>
                        <p class="mb-4">
                            Doanh nghiệp không đo lường / đánh giá được hiệu quả giữa các
                            kênh. Không có dữ liệu doanh nghiệp
                        </p>
                        <p class="mb-4">
                            Doanh nghiệp đang mơ hồ về chiến lược nội dung - thời điểm
                            chuyển đổi - tối ưu chi phí & lỏng lẻo quản lý tài sản số của
                            doanh nghiệp
                        </p>
                        <p>
                            Thiếu nhân lực định hướng nội dung, hình ảnh, sản xuất tư liệu
                            số chuyên nghiệp trên nền tảng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-handle max-width">
        <div class="row">
            <div class="col-lg-6 col-12">
                <p class="font-64 fw-bolder mb-5">
                    Giải quyết giúp doanh nghiệp 3 bài toán
                </p>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-3 col-12">
                <div class="">
                    <div class="font-120">01</div>
                    <p class="mb-4 fs-5">Nắm rõ chất lượng từng kênh sở hữu</p>
                    <p>
                        Có cơ sở đầu tư kênh sở hữu hiệu quả, cắt giảm chi phí cho các
                        kênh kém hiệu quả hoặc có phương án cải thiện các kênh nằm trong
                        mục tiêu nhưng kết quả chưa đạt.
                    </p>
                </div>
            </div>
            <div class="col-lg-1 col-12"></div>

            <div class="col-lg-3 col-12">
                <div class="">
                    <div class="font-120">02</div>
                    <p class="mb-4 fs-5">Chiến lược tối ưu</p>
                    <p>
                        Nội dung
                        <br />
                        Liên kết
                        <br />
                        Chỉ số
                        <br />
                        Chi phí
                        <br />
                        <br />
                        Tạo ra hiệu quả bền vững & Gia tăng tài sản số doanh nghiệp
                    </p>
                </div>
            </div>
            <div class="col-lg-1 col-12"></div>
            <div class="col-lg-3 col-12">
                <div class="">
                    <div class="font-120">03</div>
                    <p class="mb-4 fs-5">Quản lý hiệu quả</p>
                    <p>
                        Thực thi nội dung & hình ảnh phù hợp với thuật toán nền tảng
                    </p>
                </div>
            </div>
        </div>

        <div class="sologan">
            <img class="w-100" src="./EgoImages/solution-3/banner-social.png" />
        </div>

        <div class="py-5">
            <p class="font-64">Bằng 5 bước chi tiết</p>
            <div class="row">
                <div class="col-lg-7 col-12">
                    Các kênh sở hữu liên quan trực tiếp đến tài sản doanh nghiệp. Để
                    cả hai bên đạt được mục tiêu , chúng tôi sẽ tiến hành 5 bước trên
                    khi được sự đông ý truy cập dữ liệu của doanh nghiệp tại thời điểm
                    hiện tại.
                </div>
            </div>
            <div class="pt-5">
                <img class="w-100" src="./EgoImages/solution-3/step.png" />
            </div>
        </div>
    </section>

    <section class="section-project max-width">
        <p class="font-64 mb-5">Những dự án tâm huyết</p>
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="card-project mb-4">
                    <div class="mb-4 image">
                        <img class="w-100 h-100" src="./EgoImages/spa/a1.png" />
                    </div>
                    <div>Tictop</div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-project mb-4">
                    <div class="mb-4 image">
                        <img class="w-100 h-100" src="./EgoImages/spa/a1.png" />
                    </div>
                    <div>Simple- tối ưu fanpage</div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-project mb-4">
                    <div class="mb-4 image">
                        <img class="w-100 h-100" src="./EgoImages/spa/a1.png" />
                    </div>
                    <div>Sơn Hà Nội</div>
                </div>
            </div>
        </div>
    </section>

    <section class="max-width py-5 my-5">
        <p class="font-64">Khách hàng nói về chúng tôi</p>
        <div class="row py-5 my-5 gy-4">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-customer d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="./EgoImages/solution-4/banner-4.png" />
                    </div>
                    <div class="info">
                        <div>Mr Phương Nam</div>
                        <div>Founder - CEO Evi English</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-customer d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="./EgoImages/solution-4/banner-4.png" />
                    </div>
                    <div class="info">
                        <div>Mr Trọng Giáp</div>
                        <div>Founder - CEO Esa English</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-customer d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="./EgoImages/solution-4/banner-4.png" />
                    </div>
                    <div class="info">
                        <div>Mr Phương Nam</div>
                        <div>Founder - CEO Evi English</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="we-want max-width py-5">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="font-64">
                    Các bước hiện thực hóa mục tiêu kinh doanh của bạn
                </div>
            </div>
        </div>
        <div class="aproach d-flex pb-5">
            <div class="aproach-list d-flex">
                <div class="aproach-item">
                    <div class="title">Meeting</div>
                    <div class="desc">
                        Một cuộc họp khởi động là nền tảng để tất cả các bên thể hiện
                        thiện chí hợp tác và thiết lập tiến trình.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Sollution</div>
                    <div class="desc">
                        Sau các câu hỏi được đào sâu, chúng tôi có thể đã đưa ra được
                        giải pháp tổng quát cho vấn đề của doanh nghiệp bạn.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Brief</div>
                    <div class="desc">
                        Chúng tôi tóm lược toàn bộ thông tin dự án trong một tài liệu.
                        Đây là cơ sở dẫn lối cho cả hai bên trong suốt quá trình hợp tác
                        về sau.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Contract</div>
                    <div class="desc">
                        Trước khi chính thức hợp tác, mọi thông tin về thanh toán, phạm
                        vi dự án, các gói dịch vụ, khung thời gian,... sẽ được thống
                        nhất minh bạch trong hợp đồng.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Actions</div>
                    <div class="desc">
                        Cùng đội nhóm, chúng tôi bắt tay vào đưa ra những ý tưởng không
                        giới hạn. Sau cùng, những ý tưởng phù hợp nhất với “đề bài” sẽ
                        được chọn để chuẩn bị cho bước tiếp theo.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-form py-5 bg-white">
        <div class="max-width py-5">
            <div class="row">
                <div class="col-lg-6 col-12 font-32 black-color">
                    Bắt đầu bằng việc chia sẻ với chúng tôi
                    thông tin để có tư vấn phù hợp nhất với
                    bạn tại đây ->
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                    <div class="form-mobile">
                        <div class="form-wrapper">
                            <form id="contact-form">
                                <label for="name">@ViewLocalizer["contact4"] </label>
                                <input type="text" id="name" name="Name" />
                                <br />
                                <label for="phone">@ViewLocalizer["contact5"] </label>
                                <input type="phone" id="phone" name="PhoneNumber" />
                                <br />
                                <label for="name">@ViewLocalizer["contact8"] </label>
                                <input type="text" id="name" name="Position" />
                                <br />
                                <label for="name">@ViewLocalizer["contact9"] </label>
                                <input type="email" id="name" name="email" />
                                <br />
                                <label for="name">@ViewLocalizer["contact10"] </label>
                                <input type="email" id="name" name="Company" />
                                <br />
                                <label for="business">@ViewLocalizer["contact6"] </label><br />
                                <input type="text" id="business" name="BusinessAreas" />
                                <br />
                                <label for="business">@ViewLocalizer["contact11"] </label><br />
                                <input type="text" id="business" name="SolutionOfInterest" />
                                <br />
                                <div class="btn-submit">
                                    <input type="button" id="contact_btn_submit" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>