@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer


@section Headers{
    <link href="~/css/solution-2.css" rel="stylesheet" />
    <title>@ViewLocalizer["Title"]</title>
}
<div class="solution-2">
    <section class="section-banner">
        <img class="w-100 h-100" src="./EgoImages/solution-2/banner-1.png" />
    </section>

    <section class="section-video">
        <div class="max-width">
            <div class="video-wrapper">
                <iframe width="100%" height="700" src="https://www.youtube.com/embed/OSX8rlw8lGo?si=Csao3aD-0s6Y3HpR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <p class="font-64 fw-bolder">
                        Giải pháp này chắc chắn phù hợp với bạn nếu:
                    </p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">01</p>
                        <p>Bạn mới khởi sự kinh doanh và ngân sách , nhân lực có hạn</p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">02</p>
                        <p>
                            Bối rối khi phân bổ đầu tư nguồn lực vào các mục tiêu Lựa chọn
                            bắt đầu với Xây dựng thương hiệu hay Marketing? Tập trung làm
                            điều gì trước, điều gì sau? Trong bao lâu?
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">03</p>
                        <p>
                            Mù mờ về setup kênh bán trên digital. Tạo ra doanh thu trên
                            digital
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <p class="font-120 primary-color">04</p>
                        <p>
                            Mù mờ về setup kênh bán trên digital. Tạo ra doanh thu trên
                            digital
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="max-width py-5">
        <div class="bg-white black-color p-5 fs-5">
            <div class="row mb-4">
                <div class="col-lg-7 col-12">
                    <p class="font-64 fw-bolder mb-5">
                        EASY GO giải quyết giúp bạn 5 bài toán
                    </p>
                </div>
            </div>
            <div class="row gx-5 text-center">
                <div class="col-lg-4 col-12">
                    <p class="mb-1">Phân bổ nguồn lực ban đầu tối ưu & hiệu quả</p>
                    <p>
                        Tối ưu nhân lực Tiết kiệm thời gian Ngân sách phân bổ hiệu quả
                    </p>
                </div>
                <div class="col-lg-4 col-12">
                    <p>Thẩm mỹ thương hiệu</p>
                </div>
                <div class="col-lg-4 col-12">
                    <p>
                        Đồng hành thức thi chiến lược & kết nội với mục tiêu doanh số
                    </p>
                </div>
            </div>

            <div class="row gx-5 text-center mt-5">
                <div class="col-lg-2 col-12"></div>
                <div class="col-lg-4 col-12">
                    <p>
                        Xây dựng các kênh truyền thông sở hữu & chiến lược phát triển
                        trên từng kênh
                    </p>
                </div>
                <div class="col-lg-4 col-12">
                    <p>
                        Xác định tài sản số của doanh nghiệp và chiến lược gia tăng tài
                        sản số từ những ngày đầu khởi sự kinh doanh
                    </p>
                </div>
            </div>
        </div>
        <img class="w-100" src="./EgoImages/solution-2/artboard.png" />
    </section>

    <section class="section-implement max-width relative">
        <div class="font-64 my-5 title">Bằng 3 bước triển khai chi tiết</div>
        <div class="bg-white step">
            <div class="card-step black-color">
                <div class="font-120 primary-color">01</div>
                <p class="font-32">Hoàn thiện sản phẩm/dịch vụ</p>
                <div class="">
                    <p class="mb-1">Xác định lợi thế cạnh tranh</p>
                    <p class="mb-1">Xác định nhu cầu khách hàng</p>
                    <p class="mb-1">Xác định định vị</p>
                    <p class="mb-1">Mục tiêu kinh doanh</p>
                </div>
                <div class="image-ideal">
                    <img src="./EgoImages/solution-2/ideal.png" />
                </div>
            </div>

            <div class="card-step black-color">
                <div class="font-120 primary-color">02</div>
                <p class="font-32">Định hình thương hiệu</p>
                <div class="">
                    <p class="mb-1">Logo</p>
                    <p class="mb-1">Visual identity</p>
                    <p class="mb-1">Brand guideline</p>
                    <p class="mb-1">Brand concept</p>
                </div>
                <div class="image-ideal2">
                    <img src="./EgoImages/solution-2/ideal2.png" />
                </div>
            </div>

            <div class="card-step black-color">
                <div class="font-120 primary-color">03</div>
                <p class="font-32">Chiến lược Marketing & thực thi</p>

                <div class="">
                    <p class="mb-1">Owned Media : Facebook</p>
                    <p class="mb-1">Instagram</p>
                    <p class="mb-1">Tiktok</p>
                    <p class="mb-1">Landingpage</p>
                </div>
                <div class="image-ideal3">
                    <img src="./EgoImages/solution-2/ideal3.png" />
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white sectioc-idea">
        <div class="max-width">
            <div class="font-64 mb-5 black-color">
                Những dự án tâm huyết & Sáng tạo
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <img class="w-100" src="./EgoImages/spa/a1.png" />
                </div>
                <div class="col-lg-6">
                    <img class="w-100" src="./EgoImages/spa/a1.png" />
                </div>
                <div class="col-lg-6">
                    <img class="w-100" src="./EgoImages/spa/a1.png" />
                </div>
                <div class="col-lg-6">
                    <img class="w-100" src="./EgoImages/spa/a1.png" />
                </div>
            </div>
        </div>
    </section>

    <section class="max-width py-5 my-5">
        <p class="font-64">Khách hàng nói về chúng tôi</p>
        <div class="row py-5 my-5 gy-4">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-customer d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="./EgoImages/solution-4/banner-4.png" />
                    </div>
                    <div class="info">
                        <div>Mr Phương Nam</div>
                        <div>Founder - CEO Evi English</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-customer d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="./EgoImages/solution-4/banner-4.png" />
                    </div>
                    <div class="info">
                        <div>Mr Trọng Giáp</div>
                        <div>Founder - CEO Esa English</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-customer d-flex gap-4 align-items-center">
                    <div class="image">
                        <img class="w-100 h-100"
                             src="./EgoImages/solution-4/banner-4.png" />
                    </div>
                    <div class="info">
                        <div>Mr Phương Nam</div>
                        <div>Founder - CEO Evi English</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="we-want max-width py-5">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="font-64">
                    Các bước hiện thực hóa mục tiêu kinh doanh của bạn
                </div>
            </div>
        </div>
        <div class="aproach d-flex pb-5">
            <div class="aproach-list d-flex">
                <div class="aproach-item">
                    <div class="title">Meeting</div>
                    <div class="desc">
                        Một cuộc họp khởi động là nền tảng để tất cả các bên thể hiện
                        thiện chí hợp tác và thiết lập tiến trình.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Sollution</div>
                    <div class="desc">
                        Sau các câu hỏi được đào sâu, chúng tôi có thể đã đưa ra được
                        giải pháp tổng quát cho vấn đề của doanh nghiệp bạn.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Brief</div>
                    <div class="desc">
                        Chúng tôi tóm lược toàn bộ thông tin dự án trong một tài liệu.
                        Đây là cơ sở dẫn lối cho cả hai bên trong suốt quá trình hợp tác
                        về sau.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Contract</div>
                    <div class="desc">
                        Trước khi chính thức hợp tác, mọi thông tin về thanh toán, phạm
                        vi dự án, các gói dịch vụ, khung thời gian,... sẽ được thống
                        nhất minh bạch trong hợp đồng.
                    </div>
                </div>
                <div class="aproach-item">
                    <div class="title">Actions</div>
                    <div class="desc">
                        Cùng đội nhóm, chúng tôi bắt tay vào đưa ra những ý tưởng không
                        giới hạn. Sau cùng, những ý tưởng phù hợp nhất với “đề bài” sẽ
                        được chọn để chuẩn bị cho bước tiếp theo.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-form py-5 bg-white">
        <div class="max-width py-5">
            <div class="row">
                <div class="col-lg-6 col-12 font-32 black-color">
                    Bắt đầu bằng việc chia sẻ với chúng tôi
                    thông tin để có tư vấn phù hợp nhất với
                    bạn tại đây ->
                </div>
                <div class="col-lg-1 col-12"></div>
                <div class="col-lg-5 col-12">
                    <div class="form-mobile">
                        <div class="form-wrapper">
                            <form id="contact-form">
                                <label for="name">@LocalizationService.GetLocalizedString("contact-name")</label>
                                <input type="text" id="name" name="Name" />
                                <br />
                                <label for="phone">@LocalizationService.GetLocalizedString("contact-phone") </label>
                                <input type="phone" id="phone" name="PhoneNumber" />
                                <br />
                                <label for="name">@LocalizationService.GetLocalizedString("contact-position") </label>
                                <input type="text" id="name" name="Position" />
                                <br />
                                <label for="name">@LocalizationService.GetLocalizedString("contact-email")</label>
                                <input type="email" id="name" name="email" />
                                <br />
                                <label for="name">@LocalizationService.GetLocalizedString("contact-company")</label>
                                <input type="email" id="name" name="Company" />
                                <br />
                                <label for="business">@LocalizationService.GetLocalizedString("contact-business")</label><br />
                                <input type="text" id="business" name="BusinessAreas" />
                                <br />
                                <label for="business">@LocalizationService.GetLocalizedString("contact-solution-of-interest")</label><br />
                                <input type="text" id="business" name="SolutionOfInterest" />
                                <br />
                                <div class="btn-submit">
                                    <input type="button" id="contact_btn_submit" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>