@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources;
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer
@section Headers{
    <link href="~/css/contact.css" rel="stylesheet" />
    <title>Contact - Ego</title>
}
<div class="contact-page">
    <section>
        <div class="max-width">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-12"></div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div>@ViewLocalizer["contact1"]  </div>
                    <div class="address">
                        @ViewLocalizer["contact7"]
                    </div>

                    <div>@ViewLocalizer["contact2"] </div>
                    <div class="address">
                        <div>hello@egocreative.co</div>
                        <div>0876 280 678</div>
                    </div>

                    <div>
                        <a href="#" class="link-redirect link-redirect-hide">
                            <img src="./EgoImages/arrow.png" alt="" />
                        </a>
                    </div>

                    <div class="form-mobile">
                        <div>@ViewLocalizer["contact3"] </div>
                        <br />
                        <form id="contact-form">
                            <label for="name">@LocalizationService.GetLocalizedString("contact-name")</label>
                            <input type="text" id="name" name="Name" />
                            <br />
                            <label for="phone">@LocalizationService.GetLocalizedString("contact-phone") </label>
                            <input type="phone" id="phone" name="PhoneNumber" />
                            <br />
                            <label for="name">@LocalizationService.GetLocalizedString("contact-position") </label>
                            <input type="text" id="name" name="Position" />
                            <br />
                            <label for="name">@LocalizationService.GetLocalizedString("contact-email")</label>
                            <input type="email" id="name" name="email" />
                            <br />
                            <label for="name">@LocalizationService.GetLocalizedString("contact-company")</label>
                            <input type="email" id="name" name="Company" />
                            <br />
                            <label for="business">@LocalizationService.GetLocalizedString("contact-business")</label><br />
                            <input type="text" id="business" name="BusinessAreas" />
                            <br />
                            <label for="business">@LocalizationService.GetLocalizedString("contact-solution-of-interest")</label><br />
                            <input type="text" id="business" name="SolutionOfInterest" />
                            <br />
                            <div class="btn-submit">
                                <input type="button" id="contact_btn_submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="scrolling">
            <div class="text-animation">
                Thank you for searching
                <span class="primary-color">egocreative</span> . We will respond to
                every email sent to us
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
       
        $("#app-footer").hide();
    </script>
}

