@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Resources
@inject LocalizationService LocalizationService
@inject IViewLocalizer ViewLocalizer
@section Headers{
    <link href="~/css/home.css" rel="stylesheet" />
    <title>Home - Ego</title>
}
    <div class="home-page relative">
       
        <section class="max-width banner relative">
            <div class="banner-content">
                <p>
                    @ViewLocalizer["home1"]
                </p>

                <div class="h1-wrapper relative">
                    <h1>We're</h1>
                    <div class="text-gsap">
                        <div class="d-flex">
                            <div class="char">e</div>
                            <div class="char">l</div>
                            <div class="char">e</div>
                            <div class="char">m</div>
                            <div class="char">e</div>
                            <div class="char">n</div>
                            <div class="char">t</div>
                            <div class="char">y</div>
                        </div>

                        <div class="d-flex">
                            <div class="char">e</div>
                            <div class="char">l</div>
                            <div class="char">e</div>
                            <div class="char">m</div>
                            <div class="char">e</div>
                            <div class="char">n</div>
                            <div class="char">t</div>
                            <div class="char">y</div>
                        </div>
                    </div>

                    <div class="text-gsap">
                        <div class="d-flex">
                            <div class="char1">c</div>
                            <div class="char1">r</div>
                            <div class="char1">e</div>
                            <div class="char1">a</div>
                            <div class="char1">t</div>
                            <div class="char1">i</div>
                            <div class="char1">v</div>
                            <div class="char1">e</div>
                        </div>

                        <div class="d-flex">
                            <div class="char1">c</div>
                            <div class="char1">r</div>
                            <div class="char1">e</div>
                            <div class="char1">a</div>
                            <div class="char1">t</div>
                            <div class="char1">i</div>
                            <div class="char1">v</div>
                            <div class="char1">e</div>
                        </div>
                    </div>
                    <h1>digital marketing</h1>


                    <div class="scroll">
                        <img src="./EgoImages/scroll.png" alt="" class="circle" />
                        <img src="./EgoImages/arrow.png" alt="" class="absolute arrow" />
                    </div>
                </div>
            @if (ViewBag.Culture == "vi"){
                <h2>
                    @ViewLocalizer["home2"]
                    <span class="primary-color">@ViewLocalizer["home3"]</span>
                </h2>
                
            }else{
                <h2>
                    @ViewLocalizer["home2"]
                    <span class="primary-color">@ViewLocalizer["home3"]</span> @ViewLocalizer["home4"]
                </h2>
            }
                
            </div>
        </section>

        <section class="max-width value-number">
            <div class="number-content">
                <div class="item-1">12h</div>
                <div class="item-2">
                    @ViewLocalizer["home5"]
                </div>
                <div class="item-3">20-25%</div>
                <div class="item-4">
                    @ViewLocalizer["home6"]
                </div>
                <div class="item-5">4</div>
                <div class="item-6">
                    <p class="paragraph">
                        @ViewLocalizer["home7"]

                    </p>
                    <div>
                        <p>01</p>
                    <p class="text">@ViewLocalizer["home18"] </p>
                    </div>
                    <div>
                        <p>02</p>
                    <p class="text">@ViewLocalizer["home19"]</p>
                    </div>
                    <div>
                        <p>03</p>
                    <p class="text">@ViewLocalizer["home20"]</p>
                    </div>
                    <div>
                        <p>04</p>
                    <p class="text">@ViewLocalizer["home21"]</p>
                    </div>

                    <a href="/contact" class="link-redirect link-contact">
                        <img src="~/EgoImages/arrow.png" alt="" />
                     </a>
                </div>
                <div class="item-7">1</div>
                <div class="item-8">
                    @ViewLocalizer["home8"]

                </div>
            </div>
        </section>

        <section class="we-want max-width">
            <div class="heading">
                @ViewLocalizer["home9"]

            </div>
            <div class="aproach d-flex">
                <div class="text-vertical">@ViewLocalizer["home10"]</div>

                <div class="aproach-list d-flex">
                    <div class="aproach-item">
                        <div class="title">Meeting</div>
                        <div class="desc">
                            @ViewLocalizer["home11"]


                        </div>
                    </div>
                    <div class="aproach-item">
                        <div class="title">Sollution</div>
                        <div class="desc">
                            @ViewLocalizer["home12"]

                        </div>
                    </div>
                    <div class="aproach-item">
                        <div class="title">Brief</div>
                        <div class="desc">
                            @ViewLocalizer["home13"]

                        </div>
                    </div>
                    <div class="aproach-item">
                        <div class="title">Contract</div>
                        <div class="desc">
                            @ViewLocalizer["home14"]

                        </div>
                    </div>
                    <div class="aproach-item">
                        <div class="title">Actions</div>
                        <div class="desc">
                            @ViewLocalizer["home15"]

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="we-do max-width">
            <div class="h2 d-flex align-items-center justify-content-between">
                <h2>
                    <a href="#">
                        <span class="primary-color">@ViewLocalizer["home16"]</span>@ViewLocalizer["home17"]
                    </a>
                </h2>
                <a href="#" class="">
                    <img src="~/EgoImages/arrow-right.png" alt="" style="width: 55px" />
                </a>
            </div>
           

            <nav>
                <div class="img-wrapper">
                    <div class="img-placeholder">
                        <img src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
                         alt="" />
                    </div>
                </div>
                <ul class="todo-list">
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
                       href="/esa-english">
                            <div class="number">01</div>
                            <div class="title">ESA english</div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1533750516457-a7f992034fec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1506&q=80"
                       href="/evi-english">
                            <div class="title">Evi english</div>
                            <div class="number">02</div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1539627831859-a911cf04d3cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                       href="/simple-closet">
                            <div class="number">03</div>
                            <div class="title">Simple closet</div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
                       href="/hanoi-paint">
                            <div class="title">HaNoi paint event</div>
                            <div class="number">04</div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1533750516457-a7f992034fec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1506&q=80"
                       href="/hanoi-paint-branding">
                            <div class="number">05</div>
                            <div class="title">Hanoi Paint social</div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1539627831859-a911cf04d3cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                       href="/fara-spa">
                            <div class="title">Fara spa</div>
                            <div class="number">06</div>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link item d-flex"
                       data-src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
                       href="/mejarl-cosmetic">
                            <div class="number">07</div>
                            <div class="title">Mejarl Cosmetic</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>


    </div>

    @section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script>
        var navLink = gsap.utils.toArray(".nav-link"),
            imgWrap = document.querySelector(".img-wrapper"),
            imgItem = document.querySelector(".img-placeholder img");

        function moveImg(e) {
            var mouseX = e.clientX,
                mouseY = e.clientY;
            tl = gsap.timeline();
            tl.to(imgWrap, {
                duration: 1,
                x: mouseX,
                y: mouseY,
                ease: Expo.ease,
            });
        }

        function linkHover(e) {
            if (e.type === "mouseenter") {
                var imgSrc = e.target.dataset.src;
                var tl = gsap.timeline();

                tl.set(imgItem, {
                    attr: { src: imgSrc },
                }).to(imgWrap, {
                    autoAlpha: 1,
                    scale: 1.5,
                });
            } else if (e.type === "mouseleave") {
                var tl = gsap.timeline();
                tl.to(imgWrap, {
                    autoAlpha: 0,
                    scale: 0.3,
                });
            }
        }

        function initAnimation() {
            navLink.forEach((link) => {
                link.addEventListener("mouseenter", linkHover);
                link.addEventListener("mouseleave", linkHover);
                link.addEventListener("mousemove", moveImg);
            });
        }

        function initTweenMaxAnimation() {
            gsap.to(".char", {
                y: -100,
                stagger: 0.08,
                duration: 0.5,
            });

            gsap.to(".char1", {
                y: -100,
                stagger: 0.08,
                delay: 1.5,
                duration: 0.5,
            });
        }

        function init() {
            initAnimation();
            initTweenMaxAnimation()
        }

        window.addEventListener("load", function () {
            init();
        });
    </script>
}            