@using Microsoft.AspNetCore.Mvc.Localization
@using TLS.Web.Models
@inject IViewLocalizer ViewLocalizer
@section Headers{
    <title>Simple Closet - Ego</title>
    <link href="~/css/simple-closet.css" rel="stylesheet" />
}
<div class="simple-page">
        <section class="header max-width">
            <div class="row"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-easing="linear"
            >
                <div class="col-lg-5 col-md-12 col-12"></div>
                <div class="col-lg-7 col-md-12 col-12">
                    <h1>Simple closet</h1>
                </div>
            </div>
            <div class="row"
                 data-aos="fade-up"
                 data-aos-duration="500"
                 data-aos-easing="linear"
            >
                <div class="col-lg-5 col-md-12 col-12 padding-left">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="title">SERVICES</div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="desc">
                                <p>Branding</p>
                                <p>Campain</p>
                                <p>Photoshoot</p>
                                <p>Packaging</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="title">@ViewLocalizer["clo1"] </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-6">
                            <div class="desc">
                                <p>
                                    @ViewLocalizer["clo2"]
                                   
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner">
            <img src="~/EgoImages/closet/b1.png" alt="" 
                 data-aos="fade-up"
                 data-aos-duration="500"
                 data-aos-easing="linear" 
             />
            <div class="text"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="linear"
            >
                @ViewLocalizer["clo3"]
                
                
            </div>
        </section>

    <section>
        <div class="max-width">
            <div class="d-flex section-two">
                <div 
                    data-aos="fade-up"
                     data-aos-duration="500"
                     data-aos-easing="linear"
                >
                    <img src="~/EgoImages/closet/a1.png" alt="" />
                </div>
                <div>
                    <div class="row">
                        <div class="col-12" 
                             data-aos="fade-up"
                             data-aos-duration="500"
                             data-aos-easing="linear"
                        >
                            <img src="~/EgoImages/closet/a2.png" alt="" />
                        </div>
                         <div class="col-12" 
                             data-aos="fade-up"
                             data-aos-duration="500"
                             data-aos-easing="linear"
                         >
                            <img src="~/EgoImages/closet/a3.png" alt="" />
                        </div>
                        <div class="col-12" 
                            data-aos="fade-up"
                            data-aos-duration="500"
                            data-aos-easing="linear"
                        >
                            <img src="~/EgoImages/closet/a4.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
            <div class="text-banner-2" 
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-easing="linear"
            >
                @ViewLocalizer["clo4"]
            
            
        </div>
            <img src="~/EgoImages/closet/b2.png" alt="" 
                 data-aos="fade-up"
                 data-aos-duration="500"
                 data-aos-easing="linear" 
             />
    </section>

    <section>
        <div class="max-width section-three">
            <div class="text"
                 data-aos="fade-up"
                 data-aos-duration="500"
                 data-aos-easing="linear"
            >
                    @ViewLocalizer["clo5"]
                

            </div>

            <div class="row list-img">
                <div class="col-lg-7 col-md-12 col-12"
                 data-aos="fade-up"
                 data-aos-duration="500"
                 data-aos-easing="linear"
                >
                    <img src="~/EgoImages/closet/c1.png" alt="" />
                </div>
                <div class="col-lg-5 col-md-12 col-12 d-flex flex-column align-items-end gap-5">
                    <div data-aos="fade-up"
                         data-aos-duration="500"
                         data-aos-easing="linear">
                        <img src="~/EgoImages/closet/c2.png" alt="" />
                    </div>
                    <div data-aos="fade-up"
                         data-aos-duration="500"
                         data-aos-easing="linear">
                        <img src="~/EgoImages/closet/c3.png" alt="" />
                    </div>
                    <div data-aos="fade-up"
                         data-aos-duration="500"
                         data-aos-easing="linear"
                    >
                        <img src="~/EgoImages/closet/c4.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="max-width section-four">
            <div class="text" 
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-easing="linear"
            >
                    @ViewLocalizer["clo6"]
                

            </div>
            <div class="d-flex" 
                 data-aos="fade-up"
                 data-aos-duration="500"
                 data-aos-easing="linear"
            >
                <div class="item">
                    <img src="~/EgoImages/closet/f1.png" alt="" />
                </div>
                <div class="item">
                    <img src="~/EgoImages/closet/f2.png" alt="" />
                </div>
                <div class="item">
                    <img src="~/EgoImages/closet/f3.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <div class="max-width">
            @await Html.PartialAsync("_PageNavigation",new NavigationModel(){
                PreviousPagePath = "/du-an/thiet-ke-bo-nhan-dien-trung-tam-tieng-anh",
        NextPagePath = "/du-an/thiet-ke-nhan-dien-thuong-hieu-va-bao-bi-san-pham-nganh-my-pham"
            })
    </div>
</div>