@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@section Headers{
    <link href="~/css/work.css" rel="stylesheet" />
}
    <div class="work-page max-width relative">
        <div class="scroll">
            <img src="./EgoImages/scroll.png" alt="" class="circle" />
            <img src="./EgoImages/arrow.png" alt="" class="absolute arrow" />
        </div>

        <section class="header">
            <div class="row"
                 data-aos="fade-up"
                 data-aos-duration="1400"
                 data-aos-easing="linear"
            >
                <div class="col-lg-4 col-md-12 col-12"></div>
                <div class="col-lg-8 col-md-12 col-12">
                    <h1>
                        @ViewLocalizer["work1"] 
                        <br />
                        <span class="primary-color">@ViewLocalizer["work2"] </span>
                        <br />
                        @ViewLocalizer["work3"] 
                    </h1>
                    <div class="desc-title">
                        @ViewLocalizer["work4"]
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="text-left d-flex">
                <div 
                     class="d-flex flex-column justify-content-between"
                     data-aos="fade-up"
                     data-aos-duration="1800"
                     data-aos-easing="linear"
                >
                    <div class="text">
                        <div class="number">01</div>
                        <a class="name" href="esa-english" style="color:#fff">Esa English</a>
                        <div class="desc">
                            @ViewLocalizer["work5"]
                           
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a1.png" alt="" />
                    </div>
                </div>
                <div 
                 data-aos="fade-up"
                 data-aos-duration="2000"
                 data-aos-easing="linear"
                >
                    <img src="./EgoImages/work/a2.png" alt="" />
                </div>
            </div>
            <div  class="text-right d-flex">
                <div 
                 data-aos="fade-up"
                 data-aos-duration="1800"
                 data-aos-easing="linear"
                >
                    <img src="./EgoImages/work/a3.png" alt="" />
                </div>
                <div 
                     class="d-flex flex-column justify-content-between"
                     data-aos="fade-up"
                     data-aos-duration="1400"
                     data-aos-easing="linear"
                >
                    <div class="text">
                        <div class="number">02</div>
                        <a class="name" style="color:#fff" href="evi-english">@ViewLocalizer["work6"]</a>
                        <div class="desc">
                            @ViewLocalizer["work7"]
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="text-left d-flex">
                <div 
                    class="d-flex flex-column justify-content-between"
                     data-aos="fade-up"
                     data-aos-duration="1600"
                     data-aos-easing="linear"
                >
                    <div class="text">
                        <div class="number">03</div>
                        <a class="name" style="color:#fff" href="/simple-closet">Simple Closet</a>
                        <div class="desc">
                            @ViewLocalizer["work8"]
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/b1.png" alt="" />
                    </div>
                </div>
                <div 
                    data-aos="fade-up"
                     data-aos-duration="2000"
                     data-aos-easing="linear"
                >
                    <img src="./EgoImages/work/b2.png" alt="" />
                </div>
            </div>
            <div class="text-right d-flex">
                <div 
                 data-aos="fade-up"
                 data-aos-duration="1800"
                 data-aos-easing="linear"
                >
                    <img src="./EgoImages/work/b3.png" alt="" />
                </div>
                <div 
                     class="d-flex flex-column justify-content-between"
                     data-aos="fade-up"
                     data-aos-duration="1600"
                     data-aos-easing="linear"
                >
                    <div class="text">
                        <div class="number">04</div>
                        <a class="name" href="/hanoi-paint-event" style="color:#fff">@ViewLocalizer["work9"]</a>
                        <div class="desc">
                            @ViewLocalizer["work10"]
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/b4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="text-left d-flex"
             data-aos="fade-up"
             data-aos-duration="1400"
             data-aos-easing="linear">
                <div 
                     class="d-flex flex-column justify-content-between"
                >
                    <div class="text">
                        <div class="number">05</div>
                        <a class="name" href="/hanoi-paint-social" style="color:#fff">@ViewLocalizer["work11"]</a>
                        <div class="desc">
                            @ViewLocalizer["work12"]
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/shn-social.jpg" alt="" />
                    </div>
                </div>
                <div style="max-width:745px">
                    <img src="./EgoImages/home/shn_social.jpg" alt="" />
                </div>
            </div>
            <div class="text-right d-flex">
                <div 
                 data-aos="fade-up"
                 data-aos-duration="1800"
                 data-aos-easing="linear"
                >
                    <img src="./EgoImages/work/c1.png" alt="" />
                </div>
                <div 
                 class="d-flex flex-column justify-content-between"
                 data-aos="fade-up"
                 data-aos-duration="1400"
                 data-aos-easing="linear"
                >
                    <div class="text">
                        <div class="number">06</div>
                        <a class="name" href="/fara-spa" style="color:#fff">@ViewLocalizer["work13"]</a>
                        <div class="desc">
                            @ViewLocalizer["work14"]
                            
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/a4.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="text-left d-flex">
                <div 
                     class="d-flex flex-column justify-content-between"
                     data-aos="fade-up"
                     data-aos-duration="1300"
                     data-aos-easing="linear"
                >
                    <div class="text">
                        <div class="number">07</div>
                        <a class="name" href="/mejarl-cosmetic" style="color:#fff">@ViewLocalizer["work15"]</a>
                        <div class="desc">
                            @ViewLocalizer["work16"]
                        </div>
                    </div>
                    <div class="hide-mobile">
                        <img src="./EgoImages/work/d1.png" alt="" />
                    </div>
                </div>
                <div 
                 data-aos="fade-up"
                 data-aos-duration="1900"
                 data-aos-easing="linear"
                >
                    <img src="./EgoImages/work/d2.png" alt="" />
                </div>
            </div>
        </section>
    </div>

    @section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script>
        gsap.to(".scroll .circle", { rotation: 360, transformOrigin: "center", ease: "none", duration: 15, repeat: -1 });
    </script>
}    